[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/posts/*/"
  to = "/posts/:splat"
  status = 301

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

